:root {
    --primary-dark-cyan: hsl(185, 75%, 39%);
    --primary-very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --primary-dark-grayish-blue: hsl(227, 10%, 46%);
    --neutral-dark-gray: hsl(0, 0%, 59%);
}

html,
body {
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;

    display: grid;
    place-content: center;

    font-family: "Kumbh Sans", sans-serif;

    background-color: var(--primary-dark-cyan);
}

.card {
    width: 330px;
    background-color: white;
    border-radius: 20px;

    position: relative;
    z-index: 1;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-radius: 20px;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#location-text {
    margin-top: 0px;
}

.profile-image {
    border-radius: 50px;
    border: 5px solid white;
    margin-top: -50px;
}

.name-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.stats-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 59%, 0.3);
    padding: 20px;
}

.fonts1 {
    font-weight: 700;
    color: var(--primary-very-dark-desaturated-blue);
}

.fonts2,
.fonts3,
.fonts4 {
    color: var(--primary-dark-grayish-blue);
}

.fonts2 {
    font-size: 15px;
}

.fonts4 {
    font-size: 18px;
}

.fonts3 {
    font-size: 10px;
    letter-spacing: 2px;
}

.quantity-text {
    margin-bottom: 0px;
}

.description-text {
    margin-top: 0px;
}

#top-pattern {
    position: absolute;
    top: -90%;
    left: -200%;
    z-index: 0;
}

#bottom-pattern {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 0;
}

/*
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400, 700;
    font-size: 18px;
*/
